{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/general.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="index-container">
    <h1>Password Changed</h1>
    <p class="success-message" style="text-align: center;">Your password has been successfully changed.</p>
    <div class="button-container" style="justify-content: center;">
        <a href="{% url 'expenses' %}" class="custom-button">Return to Expenses</a>
    </div>
</div>
{% endblock %}
