{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="index-container">
        <h1>Reset Password</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password1">New password:</label>
                <input type="password" id="new_password1" name="new_password1" required>
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm new password:</label>
                <input type="password" id="new_password2" name="new_password2" required>
            </div>
            <div class="button-container">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}
